
    /*****************************************************************************
    *   Contains all style attributes the html page makes use of.
    *
    *   @author     Christopher Stock
    *   @version    0.0.1
    *****************************************************************************/
    body.canvasBody
    {
        background-color:           #000000;
        margin:                     0;
        overflow:                   hidden;
    }

    div.canvasContainer
    {
        width:                      100%;
        margin:                     auto;
        text-align:                 center;
    }
